.button {
	display: block;
	width: 140px;
	height: 40px;
	border-radius: 4px;
	border: none;
	
	background-color: $color_yellow;

	color:#ffffff;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding-top: 12px;

	&_rounded {
		display: block;
		margin-top: 53px;
		border-radius: 20px;
		width: 175px;
		height: 45px;
		padding: 14px 0;
		text-align: center;

		color: $color_yellow;
		font-size: 14px;
		text-decoration: none;
		text-transform: uppercase;
		&_wb {
			border: 1px solid #ffffff;

			&:hover, &:focus {
				box-shadow: 0 0 20px rgba($color: #ffffff, $alpha: 0.5)
			}
		}
		&_yb {
			border: 1px solid $color_yellow;
			&:hover, &:focus {
				box-shadow: 0 0 20px rgba($color: $color_yellow, $alpha: 0.5)
			}
		}

		&_arrow {
			padding-left: 16px;
			position: relative;

			&::before {
				content: "";
				display: inline-block;
				width: 15px;
				height: 6px;

				position: absolute;
				left: 35px;
				top: 18px;


				background: url(../icons/arrow-right.png) center (center/cover) no-repeat;
			}
		}
	}
	&_subscribe {
		height: 50px;
		background-color: #1b2739;
		padding-top: 0;
		border-radius: 0 4px 4px 0;
	}
}