@media(max-width:$desktop-width) {
	

	.honeymoon {
		&__item {
			width: 500px;
		}
	}
}

@media(max-width: $laptop-width_l) {


	.honeymoon {
		&__item {
			width: 450px;
		}
	}
}

@media(max-width: 1230px) {
	.honeymoon {
		&__item {
			width: 600px;
		}
	}
}


@media(max-width: $laptop-width_m) {
	.container {
		width: 100%;
		padding: 0 20px;
	}

	.booking-form {
		.container {
			padding: 0;
		}
		
		&__form, &__tours, &__package {
			padding-left: 55px;
			padding-top: 25px;
		}		
		&__field-wrapper {
			margin-right: 45px;
		}
		&__fields {
			button {
				top: 47px;
			}
		}

	}

	.slider {
		padding-top: 50px;
	}
	.carousel {
		&__content {
			width: 970px;
		}
		&__item {
		width: 550px;
		}
	}
	.most-popular {
		&__subtitle {
			width: 100%;
			font-size: 120px;
		}
		&__title {
			top: 29px;
		}
	}
	.desc {
		margin-top: 0;
	}
	.honeymoon {
		padding-bottom: 15px;
		&__slider {
			margin-top: 30px;
		}
		&__item {
			width: 450px;
		}
		.slick-dots {
			bottom: -35px;
		}
	}
	.packages {
		min-height: 615px;
		padding: 100px 0;

		&__wrapper {
			justify-content: flex-start;
		}

		&__desc {
			max-width: 400px;
			margin-right: 40px;
		}
		&__photo {
			width: auto;
		}
	}
	.discount {
		padding: 75px 0 100px 0;
		min-height: 600px;
	}
	.promo-block {
		top: -105px;
	}
	.reviews {
		padding-bottom: 90px;
		&__data, &__text {
			padding: 0 10px;
		}
	}
}

@media(max-width: $laptop-width_s) {
	.header {
		&__address {
			padding-right: 30px;
		}
	}

	.booking-form {
		&__fields-wrapper {
			flex-flow: row wrap;
			justify-content: flex-start;
		}
		&__field-wrapper {
			flex-basis: 30%;
			margin-right: 10px;

			&:nth-child(4) {
				margin-top: 20px;
			}
			
		}
		&__fields {
			button {
				top: 75px;
				right: -40px;
				width: 120px;
				padding-top: 3px;
			}
		}
	}

	.carousel {
		&__content {
			//width: 700px;
			width: 100%;
		}
		&__item {
		width: 550px;
		}
	}

	.most-popular {
		&__subtitle {
			font-size: 100px;
		}
		&__title {
			top: 24px;
			font-size: 24px;
		}
		&__slider {
			margin-top: 38px;
		}
	}
	.desc {
		margin-top: 10px;
	}

	.packages {
		&__desc {
			min-width: 372px;
			padding-top: 0;
		}
		&__photo img {
			width: 100%;
		}
	}

	.reviews {
		padding-bottom: 20px;
		&__photo {
			height: 190px;
		}
		&__text {
			h3 {
				font-size: 16px;
			}
		}
	}
}

@media(max-width: 830px) {
	.most-popular {
		&__subtitle {
			font-size: 80px;
		}
		&__title {
			top: 14px;
			font-size: 24px;
		}
	}
	.honeymoon {
		&__item {
			width: 100%;

			&-photo {
				width: 670px;
			}
		}
		&__wrapper {
			width: 100%;
		}
	}
	
}

@media(max-width: $tablet-width) {
	.header {
		height: 835px;
		padding-top: 124px;

		&__topline {
			position: absolute;
		}
		&__wrapper {
			flex-flow: row wrap;
		}
		&__user-menu {
			flex-basis: 100%;
			margin-top: 20px;
			justify-content: space-between;

			flex-flow: row wrap;
			.login {
				padding-left: 0;
			}
		}
		&__address {
			padding: 0;
			margin-left: 25px;
			margin-bottom: 20px;
		}
		&__book {
			margin-top: 170px;
		}
		&__title {
			font-size: 40px;
			margin: 30px 0;
		}
		&__desc {
			font-size: 14px;
		}
	}	
	.button_rounded {
		margin-top: 35px;
	}

	.booking-form {
		&__fields-wrapper {
			flex-flow: column nowrap;
			justify-content: flex-start;

			width: 90%;
		}
		&__field-wrapper {
			flex-basis: 100%;
			margin: 20px 0 0 0;
			
		}
		&__fields {
			input {
				width: 90%;
			}
			button {
				top: 190px;
				right: -78px;
				width: 196px;
				padding-top: 3px;
			}
		}
	}
	.slider {
		&__title, &__subtitle {
			padding-left: 20px;
		}
		.container {
			padding: 0;
		}
	}
	.slick-dots {
		width: 170px;
	}
	.slick-current {

		.carousel__item-info {
			height: 165px;
			background: rgba($color: $color_yellow, $alpha: .8);
	
			padding-top: 48px;
		}
		.carousel__item-price {
			display: block;
	
			width: 100%;
			text-align: center;
			color: #333333;
		}
		
	}
	.most-popular {
		margin-top: 120px;
		&__subtitle {
			font-size: 68px;
			overflow: hidden;
		}
		&__title {
			top: -7px;
			font-size: 24px;
		}
		&__slider {
			height: 530px;
		}
		&__overlay {
			width: 310px;
			h3 {
				font-size: 20px;
			}
		}
	}
	.desc {
		margin-top: -16px;
	}
	.share-yellow {
		margin-top: 42px;
	}
	.carousel2 {
		&__item {
			height: 530px;
		}
	}
	.honeymoon {
		&__slider {
			margin-top: 10px;
		}
		.slick-dots {
			bottom: -12px;
		}
		&__desc {
			margin-top: 15px;
			line-height: 18px;
			font-size: 14px;
		}
	}
	.carousel3 {
		/* &__content {
			margin-bottom: 55px;
		} */
	}
	.slick-dotted.slick-slider {
		margin-bottom: 55px;
	}
	.packages {
		padding: 0 0 20px 0;
		&__wrapper {
			flex-flow: column nowrap;
		}
		&__photo {
			order: -1;
		}
		&__desc {
			min-width: none;
			margin-top: 20px;
			h3 {
				margin: 10px 0;
			}
		}
		&__button {
			margin-top: 20px;
		}
	}
	.discount {
		padding: 75px 0;
		min-height: 515px;

		.desc {
			min-width: none;
		}

		&__figures {
			width: 100%;
		}
	}
	.promo-block {
		top: -60px;
		left: 0;
		transform: none;
		width: 100%;
		&__photo {
			width: 320px;
		}
		&__desc {
			width: calc(100% - 320px);
			padding: 10px 0 0 20px;
		}
		&__price {
			margin-top: 20px;
		}
		&__button {
			transform: rotate(0);
			right: 20px;
			top: auto;
			bottom: 0;
		}
	}
	.subscribe__block {
		height: 380px;
		padding: 10px;
	}
	.reviews {
		&__wrapper {
			flex-flow: column nowrap;
		}
		&__item {
			width: 100%;
			min-height: 515px;
		}
	}
	.video-block {
		width: 100%;
		height: 300px;
		margin-top: 50px;
	}
	.footer {
		padding: 10px;
		padding-bottom: 70px;
		min-height: 570px;
		&__wrapper {
			flex-flow: row wrap;
		}
	
		&__contact-block {
			margin-top: 40px;
			order: 4;
			flex-basis: 100%;
		}
	}
}
@media(max-width: 500px) {
	.subscribe {
		padding-top: 410px;
	}
	.promo-block {
		flex-flow: column nowrap;
		height: 400px;
		top: -30px;

		&__photo {
			width: 100%;
			height: 300px;
		}
		&__desc {
			width: 100%;
		}
	}
	.packages {
		.container {
			padding: 0;
		}
		&__desc {
			min-width: 200px;
			width: 90%;
			padding-left: 15px;
		}
	}
	.reviews {
		&__share {
			margin-left: 10px;
			margin-top: 7px;
		}
	}
	.footer {
		&__wrapper {
			justify-content: flex-start;
		}
		&__links {
			li {
				margin-top: 10px;
			}
		}
		&__support, &__location, &__menu {
			margin-top: 20px;
			margin-right: 40px;
		}
	}
}

@media(max-width: $mobile-width_l) {
	.header {
		padding-top: 140px;

		&__title {
			margin: 23px 0;
			font-size: 32px;
		}
	}
	.most-popular {
		&__title {
			font-size: 20px;
			top: 1px;
		}
		
		&__slider {
			height: 450px;
		}
		
	}
	.carousel2 {
		&__item {
			height: 450px;
		}
	}
	.subscribe {
		&__block {
			input {
				width: 100%;
			}
		}
	}
	.reviews {
		.container {
			padding: 0;
		}
	}
}

@media(max-width: $mobile-width_m) {

}

@media(max-width: $mobile-width_s) {

}