.share_bubble {
	background: url(../icons/bubble.png) center (center/contain) no-repeat;
	background-size: 50%;
}
.share_heart {
	background: url(../icons/heart.png) center (center/contain) no-repeat;
	background-size: 50%;
}
.share_share {
	background: url(../icons/share.png) center (center/contain) no-repeat;
	background-size: 50%;
}