$color_yellow: #ffc001;

$mobile-width_min: 460px;
//$mobile-width: 575px;
$mobile-width: 585px;
$tablet-width_min: 699px;
$tablet-width: 767px;
$middle-width_min: 969px;
$middle-width: 1106px;
$desktop-width: 1199px;

