$color_yellow: #ffc001;

$desktop-width: 1540px;
$laptop-width_l: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$moblie-width_l: 425px;
$mobile-width_m: 375px;
$mobile-width_s: 320px;

/* $mobile-width_min: 460px;
$mobile-width: 575px;
$mobile-width: 585px;
$tablet-width_min: 699px;
$tablet-width: 767px;
$middle-width_min: 969px;
$middle-width: 1106px;
$desktop-width: 1199px;
 */
