@import "libs/normalize";
@import "libs/fonts";
@import "libs/animate";
@import "base/mixins";
@import "base/variables";
@import "base/anim";
@import "base/rating";
@import "base/buttons";

* {
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	width: 1170px;

}
.title {
	text-align: center;
	font-size: 30px;
}

.desc {
	width: 660px;
	margin: 0 auto;
	text-align: center;
	margin-top: 47px;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}

@import "blocks/header";
@import "blocks/booking-form";
@import "blocks/slider";
@import "blocks/most-popular";
@import "blocks/honeymoon";
@import "blocks/packages";
@import "blocks/discount";
