.carousel {
	padding: 80px 0;

	&__content {
		position: relative;
		margin: 0 auto;
		width: 1130px;
		margin-left: 30px;
	}

	&__item {
		display: block;
		width: 370px;
		height: 370px;
		background-color: #ddd;
		margin-right: 30px;

		position: relative;

		&_01 {
			background: url(../img/slider_popular-places/01.jpg) center (center/cover) no-repeat;
		}
		&_02 {
			background: url(../img/slider_popular-places/02.jpg) center (center/cover) no-repeat;
		}
		&_03 {
			background: url(../img/slider_popular-places/03.jpg) center (center/cover) no-repeat;
		}

		&-info {
			height: 95px;
			background: rgba($color: #ffffff, $alpha: .7);

			position: absolute;

			bottom: 0;
			left: 0;
			width: 100%;
			padding-top: 15px;

			h3 {
				font-size: 20px;
				color: #333333;
				text-align: center;
				font-weight: 600;
			}
		}
		&-price {
			display: none;
		}
	}
}
.slick-current + div {

	.carousel__item-info {
		height: 165px;
		background: rgba($color: $color_yellow, $alpha: .8);

		padding-top: 48px;
	}
	.carousel__item-price {
		display: block;

		width: 100%;
		text-align: center;
		color: #333333;
	}
	
}
