.carousel {
	padding: 80px 0;

	&__content {
		position: relative;
		margin: 0 auto;
		width: 1130px;
		margin-left: 30px;
	}

	&__item {
		display: block;
		width: 370px;
		height: 370px;
		background-color: #ddd;
		margin-right: 30px;

		&_01 {
			background: url(../img/slider_popular-places/01.jpg) center (center/cover) no-repeat;
		}
	}
}

.slick-dots {
	//@include reset-list;

}